services:
  - type: web
    name: harvestdirect-api
    path: server
    runtime: node
    # Build and postbuild script will reinstall production dependencies
    buildCommand: npm install && npm run build
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
    healthCheckPath: /health
